/* your custom css */
.nav-footer {
    background: #0077c2;
}

.nav-footer .sitemap .nav-home {
    opacity: 1;
}

.ara-logo img { 
    margin: auto;
    margin-top: 60px;
    width: 128px;
    height: 128px;
}

.projectTitle {
    color: inherit;
}

.post img{
    display: block;
    margin: auto;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}